@font-face {
  font-family: "boots and spurs";
  src: url("../Fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  margin: 0px;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 1.7em;
}

.welcome__content h1 {
  margin-top: 0px;
  color: white;
}

h2 {
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  background-color: #202020;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  background-color: #202020;
}

nav ul {
  padding: 0px;
  margin-left: 25px;
}

nav {
  margin-left: 25px;
}

nav li {
  display: inline-block;
  margin: 10px;
}

/*home page*/

.welcome {
  background-image: url(../images/home-header3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70vh;
  position: relative;
}

.welcome__content {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 100px;
}

.welcome__content h1 {
  font-size: 2em;
}

.welcome img {
  width: 100%;
}

.featured {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  gap: 10px;
}

.featured h1 {
  text-align: center;
  grid-column: -1/1;
  color: black;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.featured h2 {
  color: black;
  grid-column: -1/1;
  margin-left: 10px;
}

/*jacket-page*/

.jackets h1 {
  color: black;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 2em;
}

.products {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}

.products h2 {
  margin-left: 10px;
}

.products__jackets {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}

.products__jackets h3,
.products__jackets p {
  grid-column: 1;
  margin: 10px;
}

.products__jackets h2 {
  margin-left: 10px;
}

.products img {
  grid-column: -1/1;
  width: 50%;
}

.products h2,
.products h3,
.products p {
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
}

.product--sale {
  display: flex;
  grid-column: 1;
}

.old-price {
  text-decoration: line-through;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 1000px;
  margin: 50px auto;
  grid-gap: 10px;
  grid-gap: 20px;
}

.product-list h2 {
  grid-column: -1/1;
  font-size: 2em;
  margin-left: 10px;
}

.products__jackets img {
  width: 100%;
}

/*Links*/

a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  text-decoration: underline;
}

header a {
  color: #ffffff;
  padding: 10px;
}

.cta {
  background-color: #616161;
  color: #ffffff;
  padding: 10px 70px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1em;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cta-small {
  background-color: red;
  padding: 8px 30px;
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 2/4;
  min-width: 51.2px;
  max-width: 50px;
  text-align: center;
}

.cta-sale {
  background-color: green;
}

.cta-contact {
  background-color: red;
  padding: 8px 30px;
  font-size: 0.8em;
}

.cta-spesific {
  background-color: red;
  padding: 8px 30px;
  font-size: 0.8em;
  max-width: 80px;
  text-align: center;
}

.current {
  text-decoration: underline;
}

/*contact page*/
input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 5px;
}

textarea {
  height: 65%;
}

.contact {
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
  min-height: 86vh;
}

.form-wrapper {
  display: flex;
  text-align: left;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*product-spesific*/

.product-spesific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  align-items: center;
  min-height: 78vh;
}

.product-spesific__details {
  padding: 30px;
}

.product-spesific__details a {
  display: block;
  width: 100px;
  text-align: center;
}

.product-spesific__details__price {
  font-size: 1.5em;
}

.product-spesific > * {
  flex: 1;
}

.product-spesific__buy {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product-spesific__buy h1 {
  color: black;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 2em;
}

@media (min-width: 600px) {
  .featured {
    grid-template-columns: repeat(3, 1fr);
  }
}
